DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=YOUR_DB_NAME

PORT=YOUR_PORT_NUMBER
JWT_SECRET=YOUR_JWT_SECRET_TOKEN
IMAGEKIT_PRIVATE_KEY=YOUR_IMAGEKIT
IMAGEKIT_PUBLIC_KEY=YOUR_IMAGEKIT_PUBLIC_KEY
IMAGEKIT_URL_ENDPOINT=YOUR_IMAGEKIT_ENDURL